registry=http://artifactory.pnet.ch/artifactory/api/npm/npm-virtual
strict-ssl=false
phantomjs_cdnurl=http://artifactory.pnet.ch/artifactory/files-local/phantomjs/
sass_binary_site=http://artifactory.pnet.ch/artifactory/files-local/node-sass
electron_mirror=https://artifactory.tools.pnet.ch/artifactory/ext-binaries-local/electron/
