#registry=http://artifactory.pnet.ch/artifactory/api/npm/npm-virtual
strict-ssl=false
proxy=http://lalandret:Laposte39220@outproxy1.pnet.ch:3128
https-proxy=http://lalandret:Laposte39220@outproxy1.pnet.ch:3128
phantomjs_cdnurl=http://artifactory.pnet.ch/artifactory/files-local/phantomjs/
sass_binary_site=http://artifactory.pnet.ch/artifactory/files-local/node-sass
